//Typography
$f-heading: 'Playfair Display', serif;
$f-body: 'Comfortaa', cursive;

//Colors
$c-background: black;
$c-text: white;

$c-djenna: #BD00FF;
$c-djenna-light: #F2D8E6;
$c-geert: #0066FF;
$c-geert-light: #91ACD3;
$c-sanne: #FF5C00;
$c-sanne-light: #DCC5B8;
$c-steven: #FFE600;
$c-steven-light: #FFF380;
$c-steven-darker: #D4AF37;

//media queries
$mq-tablet: 768px;
$mq-s-laptop: 1024px;
$mq-l-laptop: 1280px;
$mq-xl-laptop: 1440px;
$mq-desktop: 1920px;
$mq-4k: 2560px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: $f-body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $f-heading;
    font-weight: normal;
}

.button {
    &--clean {
        background-color: transparent;
        border: none;
        outline: none;
    }
}

// To Copy and Paste
// @media(min-width: $mq-tablet) {}
// @media(min-width: $mq-s-laptop) {}
// @media(min-width: $mq-l-laptop) {}
// @media(min-width: $mq-xl-laptop) {}
// @media(min-width: $mq-desktop) {}
